@import url("./btn.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

hr {
  display: none;
  max-width: 510px;
  width: 100%;
  border: 1px solid #c3d1c6;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #f4f6f5;
}

.container {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 20px;
}

.mobile {
  display: none;
  position: absolute;
  top: 6px;
  right: 11px;
}

.main-header {
  background-color: #e1ede6;
  &__wrap {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav-header {
    max-width: 472px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__img {
    margin-right: 8px;
  }
  &__text {
    color: #598d66;
    font-size: 20px;
    font-weight: 700;
  }
}

.link {
  text-decoration: none;
  transition: 0.3s;
}

.link-btn {
  width: 227px;
}

.nav-header {
  &__link {
    color: #2c2d35;
    font-size: 20px;
    font-weight: 500;
    &:hover {
      color: #598d66;
    }
    &:focus {
      background-color: #d4e8d9;
    }
    &:active {
      color: #376b44;
    }
  }
}

.hero {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    width: 100%;
    height: 620px;
    object-fit: cover;
    object-position: center;
  }
}

.info {
  max-width: 540px;
  width: 100%;
  &__title {
    color: #2c2d35;
    font-size: 60px;
    line-height: 110%;
    margin-bottom: 20px;
    font-weight: 500;
  }
  &__span {
    color: #598d66;
    font-size: 60px;
    line-height: 110%;
  }
  &__text {
    color: #86928b;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 60px;
  }
}

// .btn {
//   font-family: "Raleway", sans-serif;
//   height: 65px;
//   padding: 20px 60px;
//   justify-content: center;
//   align-items: center;
//   gap: 6px;
//   color: #598d66;
//   font-size: 20px;
//   border: 1px solid #598d66;
//   background-color: transparent;
//   transition: 0.3s;
//   &:hover {
//     cursor: pointer;
//     color: #f4f6f5;
//     background-color: #598d66;
//   }
//   &:focus {
//     color: #598d66;
//     background: #d4e8d9;
//   }
//   &:active {
//     color: #fff;
//     background-color: #376b44;
//     border: 1px solid #598d66;
//   }
//   &_orange {
//     color: #2c2d35;
//     background-color: #eedb6d;
//     border: none;
//     &:hover {
//       color: #2c2d35;
//       background-color: #faeb97;
//     }
//     &:focus {
//       color: #2c2d35;
//       border: 1px solid #a38314;
//       background: #faeb97;
//     }
//     &:active {
//       color: #2c2d35;
//       background-color: #d9b949;
//     }
//   }
//   &_full-width {
//     width: 100%;
//   }
// }

.reproduction {
  &__top-wrap {
    margin: 70px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: #2c2d35;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 433px;
    width: 100%;
  }
}

.section-title {
  font-size: 40px;
  line-height: 110%;
  font-weight: 500;
}

.filter {
  height: 50px;
  overflow: scroll;
  &__btn {
    font-family: "Raleway", sans-serif;
    border-radius: 20px;
    border: none;
    background-color: #d4e8d9;
    padding: 10px 20px;
    color: #2c2d35;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    margin: 0 10px;
    &:hover {
      cursor: pointer;
      color: #f4f6f5;
      background-color: #598d66;
    }
    // &:focus {
    //   color: #2c2d35;
    //   outline: 2px solid #598d66;
    //   background-color: #d4e8d9;
    // }
    // &:active {
    //   color: #f4f6f5;
    //   background: #376b44;
    // }
  }
}

.active {
  color: #f4f6f5;
  background-color: #598d66;
}
.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-bottom: 70px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
  background-color: #e1ede6;
  max-width: 350px;
  width: 100%;
  height: 100%;
  &__img {
    width: 100%;
    height: 422px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
  }
  &__author {
    color: #86928b;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__name {
    color: #2c2d35;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__material {
    color: #2c2d35;
    margin-bottom: 30px;
  }
  &__cost {
    color: #598d66;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: auto;
  }
}

.new-col {
  background-image: url("../images/pic_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 574px;
  margin-bottom: 70px;
  &__wrap {
    max-width: 540px;
    padding-top: 70px;
  }
  &__title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__img {
    margin-right: 20px;
  }
  &__title {
    color: #f4f6f5;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    line-height: 150%;
    margin-bottom: 60px;
    min-height: 209px;
  }
}

.ourteam {
  &__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }
  &__img {
    width: 445px;
    height: 445px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
  }
  &__wrap-text {
    max-width: 635px;
    padding-top: 45px;
  }
  &__title {
    color: #2c2d35;
    margin-bottom: 20px;
  }
  &__info {
    color: #2c2d35;
    line-height: 150%;
    margin-bottom: 20px;
  }
  &__wrap-avatars {
    display: flex;
  }
  &__avatar {
    border-radius: 50%;
    margin-right: 20px;
  }
}

.main-footer {
  background-color: #e1ede6;
  padding: 29px 0 23px;
  &__wrap {
    display: flex;
    width: 100%;
  }
  &__wrap-left {
    margin-right: 115px;
  }
  &__phone {
    margin-top: 35px;
  }
}

.phone {
  &__number {
    display: block;
    color: #2c2d35;
    font-size: 20px;
    margin-bottom: 8px;
    &:hover {
      color: #598d66;
    }
  }
  &__desc {
    color: #86928b;
  }
}

.footer-nav {
  display: flex;
  text-align: start;
  &__item {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: #2c2d35;
    font-size: 20px;
    margin-bottom: 6px;
    &:hover {
      color: #598d66;
    }
  }
  &__text {
    margin-bottom: 6px;
    color: #86928b;
    &:hover {
      color: #2c2d35;
    }
  }
}

.social {
  max-width: 132px;
  margin-left: auto;
  width: 100%;

  &__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__icon {
    transition: 0.3s;
    &:hover {
      transform: scale(110%);
    }
  }
  &__text {
    color: #86928b;
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .catalog {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }

  .container {
    max-width: 768px;
    padding: 0 39px;
  }

  .logo {
    margin-right: auto;
  }

  .main-header {
    &__nav-header {
      max-width: 446px;
      width: 100%;
    }
  }

  .nav-header {
    &__link {
      font-size: 18px;
    }
  }

  .hero {
    &__img {
      height: 380px;
    }
  }

  .info {
    &__title {
      font-size: 40px;
      line-height: 100%;
    }
    &__span {
      font-size: 40px;
      line-height: 100%;
    }
  }

  .reproduction {
    &__top-wrap {
      margin: 75px 0 35px;
    }
  }

  .section-title {
    font-size: 30px;
  }

  .card {
    &__img {
      height: 422px;
    }
  }

  .ourteam {
    &__wrap {
      flex-direction: column;
      align-items: start;
    }
    &__img {
      width: 413.509px;
      height: 510px;
    }
    &__wrap-text {
      max-width: 690px;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__info {
      margin-bottom: 30px;
    }
  }

  .main-footer {
    padding: 20px 0 23px;
    &__wrap {
      flex-wrap: wrap;
    }
    &__wrap-left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
    }
    &__phone {
      margin-top: 0;
    }
  }

  .footer-nav {
    display: flex;
    text-align: start;
    &__item {
      margin-right: 60px;
      display: flex;
      flex-direction: column;
    }
    &__title {
      color: #2c2d35;
      font-size: 20px;
      margin-bottom: 6px;
      &:hover {
        color: #598d66;
      }
    }
    &__text {
      margin-bottom: 6px;
      color: #86928b;
      &:hover {
        color: #2c2d35;
      }
    }
  }

  .social {
    margin-left: 18px;
    &__icons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    &__text {
      color: #86928b;
      font-size: 12px;
      line-height: 120%;
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 576px;
    padding: 0 33px;
  }

  hr {
    display: block;
  }

  .main-header__wrap {
    flex-direction: column;
    min-height: 123px;
    justify-content: center;
    margin-bottom: 173px;
  }

  .main-header__logo {
    margin: 22px auto;
  }

  .nav-header {
    min-width: 510px;
    margin: 17.5px 0;
  }

  .nav-header__link:nth-child(3) {
    margin-right: 124px;
  }

  .hero {
    &__img {
      width: 195px;
      height: 239px;
    }
  }
  .info {
    width: 285px;
    &__title {
      font-size: 36px;
      margin-bottom: 10px;
    }
    &__span {
      font-size: 36px;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  .info__link {
    width: 178px;
    height: 50px;
    font-size: 18px;
  }

  .section-title {
    font-size: 24px;
  }

  .reproduction {
    &__top-wrap {
      flex-direction: column;
      align-items: start;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__filter {
      max-width: 408px;
    }
  }
  .filter {
    &__btn {
      font-size: 18px;
    }
  }
  .catalog {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .card {
    min-height: 513px;
    &__img {
      height: 250px;
    }
    &__author {
      font-size: 16px;
    }
    &__name {
      font-size: 24px;
    }
    &__material {
      font-size: 16px;
    }
    &__cost {
      font-size: 20px;
    }
  }

  .btn_full-width {
    font-size: 18px;
    height: 50px;
  }

  .new-col {
    &__title-wrap {
      max-width: 331px;
      width: 100%;
    }
    &__wrap {
      max-width: 510px;
      width: 100%;
    }
    &__info {
      font-size: 16px;
      width: 100%;
    }
    &__img {
      width: 50px;
    }
    &__btn {
      width: 190px;
      height: 50px;
      font-size: 18px;
    }
  }

  .ourteam {
    &__img {
      width: 375px;
      height: 370px;
    }
    &__info {
      font-size: 16px;
    }
  }

  .main-footer {
    flex-direction: column;
    padding: 23px 0 33px;
    &__wrap-left {
      margin-bottom: 30px;
    }
  }

  .phone {
    &__desc {
      width: 16px;
    }
  }

  .footer-nav {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px;
    &__item {
      margin-right: 0;
    }
  }

  .social {
    padding-top: 16px;
    max-width: 176px;
    margin: 0 auto;
    width: 100%;
    &__info {
      display: flex;
    }
    &__text {
      margin: 0;
    }
  }
}

// fjwtm'owj'opetjq'epojqerpojqerpo

@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 15px;
  }
  .header-line {
    display: none;
  }
  .main-header {
    background: #fff;
    &__nav-header {
      display: none;
    }
    &__wrap {
      min-height: 68px;
    }
  }
  .logo {
    margin: 16px 17px;
  }

  .hero {
    &__img {
      display: none;
    }
  }
  .info {
    &__title {
      max-width: 270px;
      width: 100%;
      font-size: 30px;
      line-height: 100%;
    }
    &__span {
      font-size: 30px;
      line-height: 100%;
    }
    &__text {
      font-size: 14px;
      margin-bottom: 40px;
    }
  }

  .catalog {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }

  .card {
    height: 250px;
  }
  .new-col {
    margin-bottom: 59px;
    &__wrap {
      padding: 50px 0;
      height: 553px;
    }
    &__title-wrap {
      display: flex;
      align-items: start;
    }
    &__info {
      margin-bottom: 30px;
    }
    &__btn {
      margin: 0;
      width: 100%;
    }
  }

  .ourteam {
    margin-bottom: 94px;
    &__wrap {
      width: 290px;
    }
    &__img {
      width: 290px;
      height: 286px;
    }
    &__info {
      font-size: 16px;
    }
    &__wrap-text {
      width: 100%;
    }
  }
  .main-footer {
    &__wrap {
      flex-wrap: wrap;
    }
    &__logo {
      display: block;
    }
  }
}

// .main-footer {
//   background-color: #e1ede6;
//   padding: 29px 0 23px;
//   &__wrap {
//     display: flex;
//     width: 100%;
//   }
//   &__wrap-left {
//     margin-right: 115px;
//   }
//   &__phone {
//     margin-top: 35px;
//   }
// }

// .phone {
//   &__number {
//     display: block;
//     color: #2c2d35;
//     font-size: 20px;
//     margin-bottom: 8px;
//     &:hover {
//       color: #598d66;
//     }
//   }
//   &__desc {
//     color: #86928b;
//   }
// }

// .footer-nav {
//   display: flex;
//   text-align: start;
//   &__item {
//     margin-right: 60px;
//     display: flex;
//     flex-direction: column;
//   }
//   &__title {
//     color: #2c2d35;
//     font-size: 20px;
//     margin-bottom: 6px;
//     &:hover {
//       color: #598d66;
//     }
//   }
//   &__text {
//     margin-bottom: 6px;
//     color: #86928b;
//     &:hover {
//       color: #2c2d35;
//     }
//   }
// }

// .social {
//   max-width: 132px;
//   margin-left: auto;
//   width: 100%;

//   &__icons {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 10px;
//   }
//   &__icon {
//     transition: 0.3s;
//     &:hover {
//       transform: scale(110%);
//     }
//   }
//   &__text {
//     color: #86928b;
//     font-size: 12px;
//     line-height: 120%;
//     margin-bottom: 8px;
//   }
